extends wiki
block content
  h1 검색 결과
  ul
    each val in data
      li
        a(href="/w/" + val.article_title})= val.article_title
block menu
  nav.menu
    a.menu-item(href='/w/' + title, aria-label='대문으로 돌아갑니다.') 대문으로
