extends wiki
block content
  h1 모든 문서 보기
  ul
    each property in doc
      li
        a(href="/w/" + property)= property
block menu
  nav.menu
    a.menu-item(href='/', aria-label='대문으로 돌아갑니다.') 대문으로
