doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/primer.css')
  body
    br
    .one-fifth.column
      block menu
      form(method='POST', action='/goto')
        .input-group
          input.form-control(type='text', placeholder='문서명', name='name')
          span.input-group-button
            button.btn >
      br
      | Powered by openNAMU
    .four-fifths.column
      block content
