doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/primer.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/images/on.png')
  body
    br
    .one-fifth.column
      a(href='/')
        img(src="/images/on2.png", width="100%")
      block menu
      form(method='POST', action='/search')
        .input-group
          input.form-control(type='text', placeholder='문서명 또는 검색', name='name')
          span.input-group-button
            button.btn 검색
      br
      | Powered by openNAMU
    .four-fifths.column
      block content
